<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- <button @click="handlerMoTai">显示模态组件</button>
        <button @click="handlerTishi">显示提示组件</button>
        <Modal ref='mo'></Modal>
        <ToolTip ref='ti'></ToolTip> -->
    </div>
    <script src="./vue.js"></script>
    <script>
        const toggleShow = {
            data() {
                return {
                    isShow: false
                }
            },
            methods: {
                toggleShow() {
                    this.isShow = !this.isShow
                }
            }
        }

        const Modal = {
            template: `
                <div v-if='isShow'><h3>模态框组件</h3></div>
            `,
            // 局部的mixin
            mixins: [toggleShow]

        }

        const ToolTip = {
            template: `
            <div v-if='isShow'>
                <h2>提示框组件</h2>
            </div>
         `,
            mixins: [toggleShow]
        }

        // Vue 实例
        new Vue({
            el: "#app",
            data: {

            },
            components: {
                ToolTip,
                Modal
            },
            template: `
                <div>
                    <button @click='handleModel'>模态框</button>
                    <button @click='handleToolTip'>提示框</button>
                    <Modal ref='modal'></Modal>
                    <ToolTip ref='toolTip'></ToolTip>
                </div>
            `,
            methods: {
                handleModel(){
                    this.$modal.toggleShow()
                },
                handleToolTip(){
                    this.$toolTip.toggleShow()
                }
            },
        })
    </script>
</body>

</html>